<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/nav-top.css">
  <link rel="stylesheet" type="text/css" href="/css/home-common.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/transactions.css">
  <link rel="stylesheet" type="text/css" href="/css/form.css">
  <title>Refinance Loan</title>
</head>
<body>

<div class="nav-bar">
  <div class="top-bar-container">
    <nav>
      <div class="top_navbar">
        <div class="pay-sector-nav-bar">
          <div class="pay-sector-nav-bar-name">Pay Sector</div>
        </div>
        <div class="func-block">
          <a href="/home" class="active">
            <p>Home</p>
          </a>
        </div>
        <div class="func-block">
          <a href="/transfers">
            <p>Transfers</p>
          </a>
          <a href="/bills">
            <p>Bills</p>
          </a>
          <a href="/wallet">
            <p>Wallet</p>
          </a>
          <a href="/transactions">
            <p>Transactions</p>
          </a>
          <a href="/loan">
            <p>Loan</p>
          </a>
        </div>
        <div class="func-block admin-func-block" th:if="${user.role.name() == 'ADMIN'}">
          <a href="/users">
            <p>Users</p>
          </a>
        </div>
        <div class="func-block">
          <a class="logout" href="/logout">
            <p>Logout</p>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>

<section class="section full-height">

  <form class="form" th:action="@{'/loan/refinance-details'}" th:method="GET" th:object="${loanRequest}">

    <h3>Request Loan</h3>

    <label for="periodInMonths">Period in months</label>
    <input type="number" placeholder="3 - 60 months" id="periodInMonths" min="3" max="60" th:field="*{periodInMonths}">
    <p class="alert-warning" th:if="${#fields.hasErrors('periodInMonths')}" th:errors="*{periodInMonths}"></p>

    <label for="amount">Amount</label>
    <input type="number" id="amount" placeholder="1000 - 100000 EUR" min="1000" step="10" max="100000" required="" th:field="*{amount}">
    <p class="alert-warning" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>

    <button type="submit">Get offer</button>

  </form>

</section>
</body>
</html>