<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-top.css">
    <link rel="stylesheet" type="text/css" href="/css/home-common.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/transfer.css">
    <title>Transfer</title>
</head>
<body>

<div class="nav-bar">
  <div class="top-bar-container">
    <nav>
      <div class="top_navbar">
        <div class="pay-sector-nav-bar">
          <div class="pay-sector-nav-bar-name">Pay Sector</div>
        </div>
        <div class="func-block">
          <a href="/home" class="active">
            <p>Home</p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            </svg>
          </a>
        </div>
        <div class="func-block">

          <a href="/transfers">
            <p>Transfers</p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">

            </svg>
          </a>
          <a href="/bills">
            <p>Bills</p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            </svg>
          </a>
          <a href="/wallet">
            <p>Wallet</p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            </svg>
          </a>
          <a href="/transactions">
            <p>Transactions</p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            </svg>
          </a>
          <a href="/loan">
            <p>Loan</p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">

            </svg>
          </a>
        </div>

        <div class="func-block admin-func-block" th:if="${user.role.name() == 'ADMIN'}">
          <a href="/users">
            <p>Users</p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">

            </svg>
          </a>
        </div>
        <div class="func-block">
          <a class="logout" href="/logout">
            <p>Logout</p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"></path>
            </svg>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>

  <main>
    <div class="home-section">
      <div class="single-section-box transfer-container">
        <div class="transfer-section">

          <h2>Transfer Funds</h2>

          <form th:action="@{/transfers}" th:method="post" class="transfer-form" th:object="${transferRequest}">

            <label for="receiver">Receiver Username</label>
            <input type="text" id="receiver" placeholder="Enter receiver username" required="" th:field="*{receiverUsername}">
            <p class="alert-warning" th:if="${#fields.hasErrors('receiverUsername')}" th:errors="*{receiverUsername}"></p>

            <label for="amount">Amount</label>
            <input type="number" id="amount" placeholder="Enter amount to send" required="" th:field="*{amount}">
            <p class="alert-warning" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>

            <label for="description">Description</label>
            <input type="text" id="description" placeholder="Transfer description" th:field="*{transferDescription}">


            <button type="submit" class="profile-actions-button">
              <p>Send</p>
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>
</html>