<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-top.css">
    <link rel="stylesheet" type="text/css" href="/css/home-common.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/transactions.css">
    <title>Admin function</title>
</head>
<body>

<div class="nav-bar">
    <div class="top-bar-container">
        <nav>
            <div class="top_navbar">
                <div class="pay-sector-nav-bar">
                    <div class="pay-sector-nav-bar-name">Pay Sector</div>
                </div>
                <div class="func-block">
                    <a href="/home" class="active">
                        <p>Home</p>
                    </a>
                </div>
                <div class="func-block">
                    <a href="/transfers">
                        <p>Transfers</p>
                    </a>
                    <a href="/bills">
                        <p>Bills</p>
                    </a>
                    <a href="/wallet">
                        <p>Wallet</p>
                    </a>
                    <a href="/transactions">
                        <p>Transactions</p>
                    </a>
                    <a href="/loan">
                        <p>Loan</p>
                    </a>
                </div>
                <div class="func-block admin-func-block" th:if="${user.role.name() == 'ADMIN'}">
                    <a href="/users">
                        <p>Users</p>
                    </a>
                </div>
                <div class="func-block">
                    <a class="logout" href="/logout">
                        <p>Logout</p>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>



<main>

    <div class="home-section">
        <div class="single-section-box transactions-container">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Country</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" >
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(user.country.name()))}"></td>
                    <td>
                        <p th:if="${user.active}" class="active-profile">ACTIVE</p>
                        <p th:if="${not user.active}" class="inactive-profile">BANNED</p>
                    </td>
                    <td>
                        <a class="profile-actions-button" th:href="@{'/users/' + ${user.id} + '/details'}">
                            <p>User details</p>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            </svg>
                        </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</main>
</body>
</html>